<ion-view view-title="Account-Verify" ng-controller="VerifyCtrl">
  <ion-content>
    <label class="item item-input">
      <input type="text" ng-model="settings.vCode" placeholder="Verification Code">
    </label>

    <label class="item item-input">
      <button class="button button-full button-positive" ng-click="verify()">
        Submit
      </button>
    </label>

    <!--<ion-input ng-model="settings.mobileNo">Mobile Number</ion-input>
    <!--<ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    -->
  </ion-content>
</ion-view>
