<ion-view view-title="Account">
  <ion-nav-bar class="theme-color">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-buttons side="right">
      <button class="theme-color button button-clear icon-left ion-checkmark-round"
              ng-click="saveUserSetting()"
              style="padding-right:7px;">

      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-nav-title>Account Setting</ion-nav-title>


  <ion-content class="padding" style="padding-bottom:100px;">


    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">


        <img id="profile-image" src="img\cordova_bot.png">

        <button class="button button-balanced ion-camera larger padding text-center"
                ng-click="openCamera()"
                style=" border-radius: 50%;height:60px;width:60px;background-color:#941540;box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);transform: translate3d(0, 0, 0);"></button>


        <h3 id="profile-name">{{userData.displayName}}</h3>
      </div>
    </div>

    <br><br><br>
    <div>

      <label ng-show="displayName">Display
      Name</label>
      <div class="item item-input has-float-label" style="font-size:100%;border-radius:15px;">
        <input type="text"
               placeholder="Enter your name"
               ng-model="userData.displayName">

      </div>
      <br>
      <label>Gender</label>
      <div>
        <ion-radio ng-model="userData.gender" ng-value="'male'"
                   style="width:50%;float:left;border-radius:15px;font-size:100% !important;text-align:center;"
                   name="gender">Male
        </ion-radio>
        <ion-radio ng-model="userData.gender" ng-value="'female'"
                   style="width:50%;float:left;border-radius:15px;font-size:100% !important;text-align:center;  "
                   name="gender">Female
        </ion-radio>

      </div>


      <br><br><br><br>
      <label>Current
      Location</label>
      <div class="item item-input item-select " style="border-radius:15px;">
        <div class="input-label">
          &nbsp;
        </div>
        <select ng-model="userData.country" ng-init="country=countries[defaultCountryIdx]"
                ng-options="(country.name) for country in countries"
        ></select>

      </div>

      <br>
      <label>Date
      of
      Birth</label>
      <div>
        <select required type="text"
                style="float:left;width:30%;display:inline;border-radius:15px;padding-left:5%;background-color:white;height:35px;"
                ng-model="userData.selected.selectedMonth"
                ng-change="getDays(userData.selected.selectedMonth.id,userData.selected.selectedYear)"
                ng-options="month as month.name for month in months">
          <option value="" disabled selected>MM</option>
          <!--<option ng-repeat="month in months" >{{month.name}}</option>-->
        </select>

        <!--                 <input type="number" min="1900" max="2099" step="1" placeholder="YY"
                                style="float:left;width:30%;display:inline;border-radius:15px;padding-left:10%;background-color:white;height:35px;"> -->

        <select required type="text"
                style="float:left;width:30%;display:inline;border-radius:15px;padding-left:10%;background-color:white;height:35px;"
                ng-change="getDays(selectedMonth,selectedYear)"
                ng-model="userData.selected.selectedYear"
                ng-options="year for year in years">
          <option value="" disabled selected>YY</option>
        </select>

        <select required type="text"
                style="float:left;width:30%;display:inline;border-radius:15px;padding-left:10%;background-color:white;height:35px;"
                ng-model="userData.selected.selectedDay"
                ng-options="day for day in days">
          <option value="" disabled selected>DD</option>
          <option value=""></option>
        </select>

      </div>
      <br><br><br><br>

      <label>Preferred
      Language</label>
      <div>
        <ion-radio ng-model="userData.language" ng-value="'arabic'"
                   style="width:50%;float:left;border-radius:15px;font-size:100% !important;text-align:center;"
                   name="lang">Arabic
        </ion-radio>
        <ion-radio ng-model="userData.language" ng-value="'english'"
                   style="width:50%;float:left;border-radius:15px;font-size:100% !important;text-align:center;"
                   name="lang">English
        </ion-radio>

      </div>
    </div>

    <br><br><br><br>
  </ion-content>

</ion-view>
