<ion-view view-title="Account" hide-nav-bar="true">
<!--  <ion-nav-bar class="theme-color">
    <ion-nav-back-button class="button-icon"><span class="icon ion-ios7-arrow-left"></span></ion-nav-back-button>
    <ion-nav-buttons side="right">-->
<!--      <button class="theme-color button button-clear icon-left ion-checkmark-round"
              ng-click="saveUserSetting()"
              style="padding-right:7px;">

      </button>-->
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-nav-title translate >ACCOUNT_SETTING</ion-nav-title>
<!--        <div class="img-body" >
        <img src="img/logo.png"  style="z-index:11;position:fixed;">
 </div>-->

  <ion-content>

   <div class="img-body">
 <img src="img/logo.png" class="img-responsive">
 </div>
 
  <div class="header container-fluid ">
  
      	<img src="img/logo.png" class=" img-responsive ">
        <span>بيانات الحساب</span>

  </div>
  <div class="page-container">
  <Div class="pp">
  <a href="#" class="profile-pic">
  <div class="profile-pic" style="background-image: url(img/logo.png);" >

      <span class="glyphicon glyphicon-camera"></span>
      <span>Change Image</span>

  </div>
      </a>
  	</Div><!-----pp----->
  		  <div class="container">
         
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">الاسم</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="فضلا أدخل الاسم " class="form-control input-md" required="">
  <span class="help-block">الاسم الرباعي </span>  
  </div>
</div>

<!-----maleFamele------>

<div class="form-group">
<label class="col-md-4 control-label" for="textinput">الجنس</label>
<div class="radio-tile-group">

    <div class="input-container">
      <input id="walk" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <div class="icon walk-icon">
         <img src="img/male.png" class="center-block" style="max-width:35px;"/>
        </div>
        <label for="walk" class="radio-tile-label">ذكر</label>
      </div>
    </div>

  <div class="input-container">
      <input id="bike" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <div class="icon bike-icon">
         <img src="img/female.png" class="center-block" style="max-width:35px;"/>
        </div>
        <label for="bike" class="radio-tile-label">انثى</label>
      </div>
    </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">الموقع الحالي</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">المملكة العربية السعودية</option>
      <option value="2">جمهورية مصر العربية</option>
    </select>
  </div>
</div>



     <div class="form-group ">
      <label class="control-label col-sm-2 requiredField" for="date">
       تاريخ الميلاد
          </label>
      <div class="col-sm-10">
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar">
         </i>
        </div>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text">
       </div>
      </div>
     </div>
   

<div class="form-group">
<label class="col-md-4 control-label" for="textinput">اللغة المفضلة</label>
<div class="radio-tile-group">

    <div class="input-container">
      <input id="walk" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <div class="icon walk-icon">
        <span>ع</span>
        </div>
      </div>
    </div>

  <div class="input-container">
      <input id="bike" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <div class="icon bike-icon">
         <span >EN</span>
        </div>
      </div>
    </div>
</div>



<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success" data-toggle="modal" data-target="#join"><span class="fa fa-thumbs-o-up"></span> تأكيد</button>
  </div>
</div>


          </div><!------container------->
          
  </div><!---page-container------>        
          
 <!-- Trigger the modal with a button -->

<!-- Modal -->


        <div class="footer_mobile">
    <div class="container-fluid row">
 <div class="col-md-6 col-sm-6 col-xs-6 padding-0 ">
	<a href="#" class="btn btn-success btn-block pull-right border-0"><span class="fa fa-home"></span> الرئيسية</a>        
</div>
<div class="col-md-6 col-sm-6 col-xs-6 padding-0">
	<a href="#" class="btn btn-success btn-block pull-right border-0"> رجوع &gt;</a>        
</div>
    
    </div>

</div>
      
      
      

  </ion-content>

</ion-view>
