<ion-view view-title="Edit List" >
  <ion-nav-bar class="theme-color">
        <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    
    <ion-nav-title>{{dynamicTitle}} </ion-nav-title>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-input" style="font-size:100%">
                <input type="text"  ng-model="list.listName" placeholder="Enter list name">
            </div>
            <div class="item item-input" style="font-size:100%">
                <textarea rows="5" ng-model="list.listDescription" placeholder="Add notes to describe your list"></textarea> 
            </div>
        </div>
        
          <div  ng-style="setColor(listUser.contactStatus,'color')">
              <p class="padding text-left " style="text-align:left;white-space: normal;"> The List <b>{{list.listName}}</b> is currently shared with:</p>
              {{listUsers.contactName}}
            </div> 
        
        <ion-list  >

     
            <ion-item ng-repeat = "listUser in listUsers | filter:{listName: list.listName }"
                      style=" border-radius:15px;"
                      ng-show="listUser.contactName"> 
            <img class="img-circle" 
                 ng-src="{{ listUser.photo }}"
                ng-show="listUser.photo" 
                ng-style="setColor(listUser.contactStatus,'border')"> 
                
                {{listUser.contactName}}
               
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="removeListUser(listUser)"></ion-option-button>
            </ion-item>
            
        </ion-list>
        
        <div style="text-align: center;">
            
            <i><p class="padding text-center "  ng-show="!listUsers[0].contactName" >Not shared yet!</p></i>
            
            <button class="button button-balanced ion-android-person-add padding text-center" ng-click="getAllContacts(list)"></button>
        </div>
     
        
        <div class="padding button-bar">
            <a style="background-color:#941540; " class="button button-block button-positive" ng-click="saveList(list)">Save</a>
        </div>
    </ion-content>
</ion-view>