<ion-view view-title={{dynamicEditTitle}} ng-controller = "editListItemCtrl">
    <ion-content >
        <h2>Edit Item</h2>
        {{ listItem.itemName}}
        <div class="list card">
            <div class="item item-input">
                <input type="text"  ng-model="listItem.itemName">
               
            </div>
            <div class="item item-input">
                <input type="text"  ng-model="listItem.itemCategory">
            </div>
            <div class="item item-input">
                <input type="text"   placeholder="Enter Quantity" ng-model="listItem.itemQuantity">
               
            </div>
            <div class="item item-input">
                <input type="text"  placeholder="Choose UOM" ng-model="listItem.itemUom">
            </div>
            <div class="item item-input">
                <input type="text" placeholder="Pick Retailer" ng-model="listItem.itemRetailer">
            </div>

        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="saveItem(listItem)">Save
        
        </div>  
        
        </div>
    </ion-content>
</ion-view>







<!--  <div class="select-box" ng-if="ctrl.appendToBodyDemo.present">
    <h3>Select2 theme</h3>
    <p>Selected: {{ctrl.person.selected}}</p>
    <ui-select ng-model="ctrl.person.selected" theme="select2" ng-disabled="ctrl.disabled" style="min-width: 300px;" title="Choose a person" append-to-body="true">
      <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="person in ctrl.people | propsFilter: {name: $select.search, age: $select.search}">
        <div ng-bind-html="person.name | highlight: $select.search"></div>
        <small>
          email: {{person.email}}
          age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
        </small>
      </ui-select-choices>
    </ui-select>
    <p class="alert alert-info positioned">The select dropdown menu should be displayed above this element.</p>
  </div>-->