<ion-nav-view  view-title={{dynamicListTitle}} >

    <ion-header-bar class="bar-subheader item-input-inset">
              <label class="item-input-wrapper">
                <i class="icon placeholder-icon ion-android-search"></i>
                <input type="search" placeholder="Search" ng-change="search()" ng-model="data.search">

              </label>
                <div class="buttons">
                    <button class="button button-light icon-left ion-plus-round"  ng-click="addMasterItem(data.search)" ng-show="data.search !== data.items">Add</button>
                    <button class="button button-clear">Cancel</button>  
                </div>
    
    </ion-header-bar>
   
<ion-floating-button click="modal.show()" has-footer="false" button-color="#900C3F" icon="ion-plus" icon-color="#fff">
</ion-floating-button>
    
    <ion-content>
        <!--   
        <ion-list>
            <ion-item ng-repeat = "list in listItems">
                My List: {{list.categoryName}}
               
            </ion-item>
           </ion-list>   
        -->
     <ion-refresher on-refresh="refresh()">
                     
      </ion-refresher>
        <div>
          <ion-list>
            <ion-item  class="item" ng-repeat="item in data.items" ng-click="selectItems(item)">{{item.itemName}} </ion-item >
               <div>
        </div>   
          </ion-list>
        </div>

        <div>

            
            
        <ion-list show-reorder="reorderFlag"> 

            
      <div class="list">
        <ion-list show-reorder="reorderFlag"> 
            
        <div class="item item-divider"
            ng-repeat="item in listItems |orderBy:'categoryName' | unique: 'categoryName'" ng-show="!allListItemCategoryCrossed(item.categoryName)">
                        {{item.categoryName}}
         <ion-item class="item-remove-animate item-icon-right item calm-bg" ng-repeat = "listItem in listItems  | filter:{categoryName: item.categoryName }" ng-click = "showDetails = ! showDetails" ng-show="listItem.entryCrossedFlag == '0' && listItem.deleted!='Y'" >
                <h2>{{listItem.itemName}}</h2>
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="removeFromList(listItem)"></ion-option-button>
                <ion-option-button class="button-calm icon-right ion-edit" ng-click="editListItem(listItem)"></ion-option-button>
                <ion-option-button class="button-balanced ion-checkmark-round" ng-click="itemChecked(listItem)"></ion-option-button>
               
                 <div class="item-details" ng-show="showDetails">
                    <div class="item item-input" autofocus="autofocus">Quantity &emsp;
                    <input type="text"   placeholder="Enter Quantity" ng-model="listItem.itemQuantity">
               
                    </div>
                     
                     
                    <div class="item item-input">UOM  &emsp;
                        <input type="text"  placeholder="Choose UOM" ng-model="listItem.itemUom">
                        
                        <proton:multi-list-picker>
                          <proton:multi-list-picker-list>
                            <proton:multi-list-picker-list-item>Kilogram</proton:multi-list-picker-list-item>
                            <proton:multi-list-picker-list-item>Pound</proton:multi-list-picker-list-item>
                            <proton:multi-list-picker-list-item>Piece</proton:multi-list-picker-list-item>
                            <proton:multi-list-picker-list-item>Each</proton:multi-list-picker-list-item>
                            <proton:multi-list-picker-list-item>Litre</proton:multi-list-picker-list-item>
                            <proton:multi-list-picker-list-item>Ml</proton:multi-list-picker-list-item>
                          </proton:multi-list-picker-list>
                        </proton:multi-list-picker>
                    </div>
                    <div class="item item-input">Retailer  &emsp;
                        <input type="text" placeholder="Pick Retailer" ng-model="listItem.itemRetailer">
                    </div>
                 </div>
          </ion-item>  
        </div>
        </ion-list>
      </div>
        <div class="list">
            <ion-list show-reorder="reorderFlag">   
                <button class="button button-block button-balanced" ng-show="checkedItems.length !== 0">
                  Crossed Items
                </button>

                <div>
                <ion-item class="item-remove-animate item-icon-right" ng-repeat = "checkedItem in checkedItems" ng-click = unCheckItem(checkedItem)>
                  
                    <h2><s>{{checkedItem.itemName}}</s></h2>
                </ion-item>
                </div>
            </ion-list>
        </div> 
            
        </ion-list>
        </div>
    
        <script id="templates/searchItem.html" type="text/ng-template">
      <ion-modal-view  style="width: 75%; height: 75%; border:groove;position:absolute;top: 65%; left: 5%; right: 5%; bottom: 5%;">
        <ion-header-bar class="bar bar-header">
          <h1 class="title">Search Master Items</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            
              <div >
                <select ng-model="selectedItem" ng-options="item for item in listItems">    
                </select>
            </div>
              
              <label class="item item-input">
              <input ng-model="newUser.firstName" type="text" placeholder="Category">
            </label>
            <label class="item item-input">
              
              <input ng-model="newUser.lastName" type="text" placeholder="Item Name">
            </label>

            <button class="button button-full button-light icon ion-plus-round" ng-click="createContact(newUser)">Add</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>    
        
        <div class="item-details" ng-show="showSearchDetails">
                   <div class="list">
            
              <div >
                <select ng-model="selectedItem" ng-options="item for item in data.items">    
                </select>
            </div>
              
              <label class="item item-input">
              <input ng-model="newUser.firstName" type="text" placeholder="Category">
            </label>
            <label class="item item-input">
              
              <input ng-model="newUser.lastName" type="text" placeholder="Item Name">
            </label>

            <button class="button button-full button-light icon ion-plus-round" ng-click="createContact(newUser)">Add</button>
          </div>
        
        </div>


        
    </ion-content>
    <div class="bar bar-footer">
            <div id="footer" class="button-bar"  >    
<!--        <a href="#/add" class="button button-bar icon ion-plus-round">Add List</a>
        <button class="button button-bar icon-left ion-shuffle pull-right" ng-click="toggleReorder()">Order</button>-->
        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-person" >Profile</a>
        
        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-funnel " ng-click="showSearchDetails = !showSearchDetails">Add</a>
       <a style="min-width: 25%;border-radius: 0px; "  class="button button-lite icon ion-shuffle" ng-click="toggleReorder()">Order</a>
        
    
        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-ios-information-outline ">About</a>
</div>
      
    </div>
</ion-nav-view>