      <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" ng-click = "refresh();popover.hide();">
              Reload
            </a>
            <a class="item" ng-click="data.showDelete = !data.showDelete;popover.hide();">
              Delete 
            </a>
            <a class="item"  ng-click="changeFoldAll();popover.hide();">
              Fold/Unfold All
            </a>
            <a class="item"  ng-click="showHideItemDetails();popover.hide();">
              Hide/Show Details
            </a>
          </div>
        </ion-content>
      </ion-popover-view>