<ion-view hide-nav-bar="true">
  <ion-nav-bar class="theme-color">
<ion-nav-title >Language / اللغة</ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="theme-color button button-clear icon-left ion-checkmark-round"
              ng-click="saveUserSetting()"
              style="padding-right:7px;">

      </button>
    </ion-nav-buttons>
  </ion-nav-bar>



    
     

  <ion-content class="ionBody" style="padding-bottom:100px;">
   
      
        <div class="container header-index">
  
  	<div class="logo ">
    
    	<img src="img/logo.png" class="center-block img-responsive animated bounceInDown">
        
  	</div><!----logo--->
  		  
          
  </div><!---container-logo-----> 
      
      
<!--      <div class="lange ">
        <h1 class="center-block animated  fadeInDown" style="font-family: GessLight;">اختر اللغة المفضلة </h1>
        <h4 class="center-block animated  fadeInDown">Choose Preferred Language</h4>-->
<!--        <div class="lange-items">
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <a href="#"  class="btn btn-default animated delay1 bounceIn">العربية</a>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
        <a href="#"  class="btn btn-default animated delay1 bounceIn">English</a>
        </div>
        </div>-->
<!--     </div>-->
      
      <!-----lange----->

      <div align="center" >

<div class="lange ">
<h1 class="center-block animated  fadeInDown" style="font-family: GessBold;">اختر اللغة المفضلة </h1>
<h4 class="center-block animated  fadeInDown" style="font-family: AndikaNewBasicBold;font-size:25px;">Choose Preferred Language</h4>
<div class="lange-items">
    
          <label  class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
            <input type="radio" style = " opacity: 0" ng-model="userData.language" ng-value="'arabic'"  ng-click="saveUserSetting()">
         
            <div  class="btn btn-default animated delay1 bounceIn" style="width:120px !important;height:120px !important; text-align: center !important;">
              <p style="font-family: GessBold;padding-top:30%;font-size:200% !important;"> العربية</p>
              </div>
              </label>
          
            <label lass="col-sm-6 col-md-6 col-xs-6 col-lg-6">
            <input type="radio" style = " opacity: 0" ng-model="userData.language" ng-value="'english'"  ng-click="saveUserSetting()">
              <div  class="btn btn-default animated delay1 bounceIn" style="width:120px !important;height:120px !important; text-align: center !important;" >
                  <p style="font-family: AndikaNewBasicBold;padding-top:30% ;font-size:200% !important;">English</p>
              </div>
              </label>
              
      </div>
     </div>      
<!--              <div class="form-group" ng-style="getDirection()">
     <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
          <button id="singlebutton" name="singlebutton" class="btn btn-block btn-success"  
              ng-click="saveUserSetting();" translate>{{'SAVELIST'}}
      </button>
          
          </div>
    </div>-->
    <br><br><br><br>
  </ion-content>

</ion-view>
