   <ion-view>

 <ion-nav-bar class="theme-color">
 <!--   <ion-nav-back-button></ion-nav-back-button>-->
  </ion-nav-bar>


    <ion-nav-title> My Lists</ion-nav-title>

    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: white;" ng-click = "toggleLeft()"></button>
    </ion-nav-buttons>

    <ion-floating-button click="addList()" has-footer="false" button-color="#09d261" icon="ion-android-list larger" icon-color="#fff">
    </ion-floating-button>

<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="theme-color" animation="nav-title-slide-ios7" title="Setting">
      <ion-nav-back-button class="button-icon"><span class="icon ion-ios7-arrow-left"></span></ion-nav-back-button>
        <ion-nav-buttons side="right">
        <button class="theme-color button button-clear icon-left ion-loop" 
                ng-click="refresh()"
                style="padding-right:7px;">
           
        </button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view  animation="slide-left-right">
      <ion-content class="padding">




<!--       <ion-refresher on-refresh="refresh()">

      </ion-refresher>-->

        <ion-list  show-reorder="reorderFlag">

       <ion-item 
                 ng-class="list.contactStatus == 'S' ? 'classS' :list.contactStatus == 'P' ? 'classP': 'classNa'"   class="item-remove-animate item-icon-right"
              ng-repeat = "list in lists |orderBy:'listName' | unique: 'listName'" ng-click = "addItem(list.listLocalId)" ng-class="'classA'"
              ng-hide = "list.deleted=='Y'"
              style=" border-radius:15px;  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);"
              on-swipe-down="onGesture('Swipe Down',list.listName)"
              on-swipe-up="onGesture('Swipe Up',list.listName)"
             >
              <div style="display=inline;">
                  
              <h2 class="padding"style="font-size:20px; text-align: center;font-weight: bold;color:#0d98ba;">
                  
                  {{list.listName}}
                  
                  
                  
                <div align="center"
                    ng-hide = "list.newCount=='0'||list.newCount==null"
                    style="display:inline;height: 28px;width: 28px;line-height: 28px;
                            -moz-border-radius: 10px;border-radius:20px;background-color: #09d261;
                            color: white;text-align: center;font-size: 15px;float:right;margin-right: 15px;" >
                   {{list.newCount}}

               </div>
             </h2>
              <p style="display:inline;">{{list.listDescription}}</p>

           </div>
           <br>
           <div ng-show="showListDetails && list.listName == showList">
           <div>
             <p ng-show="list.totalOpen!=0" style="text-align:left;white-space: normal;"> Total Item: {{list.totalOpen + list.totalCrossed }} - Total Crossed: {{list.totalCrossed}} - Remaining:  {{list.totalOpen}}</p>

           </div>

            <div ng-repeat="listUser in lists | filter:{listName: list.listName }"
                  ng-style="setColor(listUser.contactStatus,'color' )" style="display:inline;"
                  ng-show=listUser.contactName>
             <p ng-style="setColor(listUser.contactStatus,'color' )">

                <img class="img-circle" ng-src="{{ listUser.photo }}"
                  ng-show="listUser.photo" ng-style="setColor(listUser.contactStatus,'border')">

                 {{listUser.contactName}}  &emsp;
                 
                 <br>{{listUser.contactServerId}} -<br> {{myUserId}}
                 


              </p>
           </div>
     </div>


           <i class="icon ion-chevron-right"></i>

           <ion-reorder-button class="ion-navicon" on-reorder="move(list, $fromIndex, $toIndex)">
              </ion-reorder-button>

              <ion-option-button ng-show="myUserId==list.listOwnerServerId" class="button-assertive icon-left ion-trash-a" ng-click="removeList(list)"></ion-option-button>
              <ion-option-button ng-show="myUserId==list.listOwnerServerId" class="button-calm icon-left ion-edit" ng-click="editList(list.listLocalId)"></ion-option-button>
              <ion-option-button ng-show="myUserId==list.listOwnerServerId" class="button-balanced ion-android-person-add larger" ng-click="getAllContacts(list)"></ion-option-button>
    
            </ion-item>

        </ion-list>


    </ion-content>
      </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-header-bar class="theme-color"></ion-header-bar>
    <ion-content has-header="true">
      <ion-list>
        <ion-item class="icon-left ion-person larger"  ng-click="toggleLeft()"> <h2 style="display:inline;"> Account</h2></ion-item>
        <ion-item class= "icon-left ion-android-notifications larger" ng-click="toggleLeft()"><h2 style="display:inline;"> Notification</h2></ion-item>
        <ion-item class= "icon-left ion-information-circled larger"  ng-click="toggleLeft()"><h2 style="display:inline;"> Help</h2></ion-item>
      </ion-list>


    </ion-content>
  </ion-side-menu>
    
    
<!--  <ion-side-menu side="right" >
    <ion-header-bar class="theme-color" title="Search"></ion-header-bar>
    <ion-content has-header="true">

    </ion-content>
  </ion-side-menu>-->
</ion-side-menus>

 

<!--    <div class="bar bar-footer ">
    <div id="footer" class="button-bar"  >
        <a href="#/add" class="button button-bar icon ion-plus-round">Add List</a>
        <button class="button button-bar icon-left ion-shuffle pull-right" ng-click="toggleReorder()">Order</button>
        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-person" >Profile</a>

        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-plus-round " href="#/add">Add</a>
       <a style="min-width: 25%;border-radius: 0px; "  class="button button-lite icon ion-shuffle" ng-click="toggleReorder()">Order</a>


        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-ios-information-outline ">About</a>
</div>
    </div>-->


</ion-view>



