<ion-view>

  <ion-nav-bar class="theme-color">
    <!--   <ion-nav-back-button></ion-nav-back-button>-->
  </ion-nav-bar>


  <ion-nav-title translate>MY_LIST</ion-nav-title>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color: white;"
            ng-click="toggleLeft()"></button>
  </ion-nav-buttons>

  <ion-floating-button  id="focus-item" click="addList()" has-footer="false" button-color="#09d261" icon="ion-android-list larger"
                       icon-color="#fff">
  </ion-floating-button>

  <ion-side-menus>
    <ion-pane ion-side-menu-content>
      <ion-nav-bar class="theme-color" animation="nav-title-slide-ios7" title="Setting">
        <!--<ion-nav-back-button class="button-icon"><span class="icon ion-ios7-arrow-left"></span></ion-nav-back-button>-->
        <ion-nav-buttons side="right">
          <button class="theme-color button button-clear icon-left ion-android-more-vertical"
                  ng-click="popover.show($event)"
                  style="padding-right:17px;">

          </button>
        </ion-nav-buttons>
      </ion-nav-bar>
        
          
        
        
      <ion-nav-view animation="slide-left-right">
        <ion-content class="padding" style="padding-bottom:100px;">
            
<!-- <walkthrough
            wid="Demo2"
            walkthrough-type="transparency"
            focus-element-selector="#focus-item"
            icon="arrow"
            icon-padding-left="30"
            icon-padding-top="0"
            force-caption-location="TOP"
            is-active="true"
            use-button="true">
      </walkthrough> -->
            
        <div id="bg">
      <img src="img\grocery.jpg" alt="" style="opacity=0.5">
    </div>

         

          <ion-list class="leftReorderButton" show-delete="data.showDelete" show-reorder="data.showReorder" style="padding-bottom:30px;">
            <ion-item

              class="item-remove-animate item-icon-right"
              ng-repeat="list in lists.lists" ng-click="addItem(list)"
              ng-class="'classA'"
              ng-hide="list.deleted=='Y'"
              style="border-radius:15px;  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);"
              on-swipe-down="onGesture('Swipe Down',list.listName)"
              on-swipe-up="onGesture('Swipe Up',list.listName)"
            >
              <div style="display:inline;">

                <h2 class="padding" style="font-size:20px; text-align: center;font-weight: bold;color:#159469;">

                  {{list.listName}}


                  <div align="center"
                       ng-hide="list.newCount=='0'||list.newCount==null"
                       style="display:inline;height: 28px;width: 28px;line-height: 28px;
                            -moz-border-radius: 10px;border-radius:20px;background-color: #09d261;
                            color: white;text-align: center;font-size: 15px;float:right;margin-right: 15px;">
                    {{list.newCount}}

                  </div>
                </h2>
                  <p style="display:inline;"><i>{{list.listDescription}}</i></p>

              </div>
              <br>
              <div  style="padding-right:25px;" ng-show="showListDetails">
                <div >
                  <p ng-show="list.totalOpen!=0" style="white-space: normal;" ng-style="getDirection()"  translate> {{'TOTAl_ITEM'}}
                    {{list.totalOpen + list.totalCrossed }}
                    </p>
                  <div ng-show="list.totalOpen + list.totalCrossed!=0">
                    <div style=" background: #159469;
                            height: 30px;
                            float: left;
                            margin-bottom: 5px;
                            border-radius:15px;

                            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);"
                         ng-style=" {width: (list.totalCrossed/(list.totalOpen + list.totalCrossed))*100 +'%'}">
                      <p style="text-align:center;color:white;;margin-top:4px">
                        {{list.totalCrossed}}
                      </p>
                    </div>
                    <div style=" background: grey;
                            height: 30px;
                            float: right;
                            margin-bottom: 5px;
                            border-radius:15px;

                            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);"
                         ng-style=" {width: (list.totalOpen/(list.totalOpen + list.totalCrossed))*100 +'%'}">
                      <p style="text-align:center;color:white;margin-top:4px">
                        {{list.totalOpen}}
                      </p>
                    </div>
                    <br><br>
                  </div>
                  <div style=" background: pink;
                            height: 30px;
                            float: right;
                            width:100%;
                            margin-bottom: 5px;
                            border-radius:15px;
                            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);"
                       ng-show="list.totalOpen + list.totalCrossed==0">
                    <p style="text-align:center;color:white;margin-top:4px" translate>
                      <i> {{'NO_ENTRY'}}</i>
                    </p>
                  </div>
                </div>

                <div ng-repeat="listUser in list.contacts"
                     style="display:inline;float:left;padding-right:10px;"
                     ng-show=listUser.contactName>
                  <div ng-style="setColor(listUser.contactStatus,'color')" style="padding-top:15px;">

                    <img class="img-circle" ng-src="{{ listUser.photo}}"
                         ng-show="listUser.photo" ng-style="setColor(listUser.contactStatus,'border')"
                         style="float:left;">

                    <p ng-show="listUser.contactServerId!=myUserId"
                       ng-style="setColor(listUser.contactStatus,'color' )"
                       style="padding-left:5px;padding-top:10px;">{{listUser.contactName}}</p>
                    <p ng-show="listUser.contactServerId==myUserId"
                       ng-style="setColor(listUser.contactStatus,'color' )"><i>shared with you by: </i></p>
           


                  </div>
                </div>
              </div>

              <div style="padding-right:2px;">
                <i class="icon ion-chevron-right"></i>

         <ion-delete-button class="ion-minus-circled" 
                             ng-click="removeList(list)">
          </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="move(list, $fromIndex, $toIndex)">
                </ion-reorder-button>
              </div>
              <ion-option-button ng-show="myUserId==list.listOwnerServerId"
                                 class="button-assertive icon-left ion-trash-a"
                                 ng-click="removeList(list)"></ion-option-button>
              <ion-option-button ng-show="myUserId==list.listOwnerServerId" class="button-calm icon-left ion-edit"
                                 ng-click="editList(list)"></ion-option-button>
              <ion-option-button ng-show="myUserId==list.listOwnerServerId"
                                 class="button-balanced ion-android-person-add larger"
                                 ng-click="getAllContacts(list)"></ion-option-button>

            </ion-item>
          </ion-list>
         <br><br><br><br><br>

        </ion-content>
<!--   <script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view>
        <ion-content>
          <div class="list">
            <a class="item" ng-click = "refresh();popover.hide();">
              Reload
            </a>
            <a class="item" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;popover.hide();">
              Delete 
            </a>
            <a class="item"  ng-click="data.showDelete = false; data.showReorder = !data.showReorder;popover.hide();">
              Reorder
            </a>
            <a class="item"  ng-click="showListDetails=true;popover.hide();">
              Hide/Show Details
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Submit an Issue
            </a>
            <a class="item" href="https://github.com/driftyco/ionic" target="_blank">
              Github Repo
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>-->

      </ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
      <ion-header-bar class="theme-color"></ion-header-bar>
      <ion-content has-header="true">
        <ion-list>
          <ion-item class="icon-left ion-person larger" ng-click="account()"><h2
            style="display:inline;padding-left:5px;" translate> ACCOUNT</h2></ion-item>
          <ion-item class="icon-left ion-android-notifications larger" ng-click="toggleLeft()"><h2
            style="display:inline;padding-left:5px;" translate> NOTIFICATION</h2></ion-item>
          <ion-item class="icon-left ion-information-circled larger" ng-click="toggleLeft()"><h2
            style="display:inline;padding-left:5px;" translate> HELP</h2></ion-item>
        </ion-list>


      </ion-content>
    </ion-side-menu>


  </ion-side-menus>




</ion-view>



