<ion-view>
 <ion-nav-bar class="theme-color">
 <!--   <ion-nav-back-button></ion-nav-back-button>-->
  </ion-nav-bar>
    
    
    <ion-nav-title> My Lists</ion-nav-title>
    <ion-content>
      
       <ion-refresher on-refresh="refresh()">
                     
      </ion-refresher>
       <ion-list show-reorder="reorderFlag">     
    
       <ion-item ng-class="list.contactStatus == 'S' ? 'classS' :list.contactStatus == 'P' ? 'classP': 'classNa'"   class="item-remove-animate item-icon-right" 
              ng-repeat = "list in lists track by $index" ng-click = "addItem(list.listLocalId)" ng-class="'classA'"
              ng-hide = "list.deleted=='Y'">
              <h2>{{list.listName}}</h2>
              <p>{{list.listDescription}}</p>
              <p ng-style="list.contactStatus == 'S' ? {color:'blue'} :list.contactStatus == 'P' ? {color:'red' } : {color:'greys' } ">{{list.contactName}} - {{list.contactStatus }}</p>

              <i class="icon ion-chevron-right"></i>
              
           <ion-reorder-button class="ion-navicon" on-reorder="move(list, $fromIndex, $toIndex)">
              </ion-reorder-button>
              
              <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="removeList(list)"></ion-option-button>
              <ion-option-button class="button-calm icon-left ion-edit" ng-click="editList(list.listLocalId)"></ion-option-button>
              <ion-option-button class="button-balanced ion-android-person-add" ng-click="getAllContacts(list.listLocalId)"></ion-option-button>
            <!-- </div>  -->
            </ion-item>

        </ion-list>
        
      
    </ion-content>
    <div class="bar bar-footer ">
    <div id="footer" class="button-bar"  >    
<!--        <a href="#/add" class="button button-bar icon ion-plus-round">Add List</a>
        <button class="button button-bar icon-left ion-shuffle pull-right" ng-click="toggleReorder()">Order</button>-->
        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-person" >Profile</a>
        
        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-plus-round " href="#/add">Add</a>
       <a style="min-width: 25%;border-radius: 0px; "  class="button button-lite icon ion-shuffle" ng-click="toggleReorder()">Order</a>
        
    
        <a style="min-width: 25%;border-radius: 0px; " class="button button-lite icon ion-ios-information-outline ">About</a>
</div>
    </div>
</ion-view>