      <ion-popover-view>
        <ion-content style = "padding=0px;" style="width:100%;background-color:red;">

         <div class="navbar navbar-default navbar-fixed-top"  >  
             
          <ul class="list nav navbar-nav navbar-left"  >
           <li><a class="item" href="#account" ng-click = "popover.hide();"><span class="fa fa-user" ></span>
              Account
                </a></li>
              <div style="height: 1px;"></div>
            <li><a class="item" ng-click = "refresh();popover.hide();"><span class="fa fa-user" ></span>
              Reload
                </a></li>
              <div style="height: 1px;"></div>
            <li><a class="item" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;popover.hide();"><span class="fa fa-user" ></span>
              Delete 
            </a></li>
           <div style="height: 1px;"></div>

            <li><a class="item"  ng-click="data.showDelete = false; data.showReorder = !data.showReorder;popover.hide();"><span class="fa fa-user" ></span>
              Reorder
            </a></li>
           <div style="height: 1px;"></div>              
           <li> <a class="item"  ng-click="showHideListDetails();popover.hide();"><span class="fa fa-user" ></span>
              Hide/Show Details
            </a></li>
           <div style="height: 1px;"></div>              
           <li> <a class="item"  ><span class="fa fa-user" ></span>
             Help
            </a></li>
          </ul>
            </div>
            
<!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
  <div class="navbar-header">  
   
  </div>
  <div aria-expanded="false" style="height: 1px;" >
    <ul class="nav navbar-nav navbar-left" >
        <li><a href="#"><span class="fa fa-user"  ng-click = "refresh();popover.hide();"></span>  Reload</a></li>
        <li><a href="#"><span class="fa fa-bell" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;popover.hide();"></span> Delete</a></li>
        <li><a href="#"><span class="fa fa-question"></span> Reorder</a></li>
        <li><a href="#"><span class="fa fa-question"></span> Hide/Show Details</a></li>
        
    </ul>
   
  </div>
    </nav>    -->    
        </ion-content>
      </ion-popover-view>