<ion-view view-title="Master Item" >
    <ion-content >
        <div class="list card">
            <div class="item item-input">
                <input type="text" ng-model="list.title">
            </div>
            <div class="list">

              <label class="item item-input item-select">
                <select>
                  <option>Dairy</option>
                  <option selected>Cleaning</option>
                  <option>Drinks</option>
                  <option>Bread</option>
                </select>
              </label>

            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="masterItem()">Save
            </button>
        
        </div>
    </ion-content>
</ion-view>