<ion-view view-title="Verify" ng-controller="verifyCtrl">
      <ion-nav-bar class="theme-color">
        <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <label class="item item-input">
      <input type="text" ng-model="vCode" placeholder="Verification Code">
    </label>

    <label class="item item-input">
      <button class="button button-full button-positive" style = "background-color:#900C3F;" ng-click="verify(vCode)">
        Submit
      </button>
    </label>

    <!--<ion-input ng-model="settings.mobileNo">Mobile Number</ion-input>
    <!--<ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    -->
  </ion-content>
</ion-view>
