<ion-view view-title="Verification" ng-controller="verifyCtrl">
      <ion-nav-bar class="theme-color">
        <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    
       <div class = "col text-center" style = "height:100px;background-color:#941540;">
            </div>
      <div>

         <h1  class="text-center item" style="text-align:left; font-size:200% ;color:#941540;white-space: normal;padding-left: 20px;">   
            <br>
             <strong>Enter Verification Code </strong>
            <br>
            <br>
           
        <p class="padding text-left " style="text-align:left;white-space: normal;"> 
            Enter the 4 letters received by SMS </p>
            <br>
    
        </h1>
      </div>
      
      
      <label class="item item-input">
      <input type="text" ng-model="vCode" placeholder="Verification Code">
    </label>

    <label class="item item-input">
      <button class="button button-block button-positive" style = "background-color:#941540;" ng-click="verify(vCode)">
        Submit
      </button>
    </label>

    <!--<ion-input ng-model="settings.mobileNo">Mobile Number</ion-input>
    <!--<ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    -->
  </ion-content>
</ion-view>
