<ion-view  ng-controller="verifyCtrl" hide-nav-bar="true">
      <ion-nav-bar class="theme-color">
        <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
    <ion-nav-title translate> {{'VERIFICATION'}}</ion-nav-title>
    <div class="img-body " >
 <img src="img/logo.png"  style="z-index:11;position:fixed;overflow:visible;pointer-events:none;background:none !important;">
 </div>
    
  <ion-content>
        
               <div class="header container-fluid " ng-style= "getImgDirection()">
        <div>
      	<img src="img/logo.png" class=" img-responsive " ng-style= "getImgDirection()">
        <span translate ng-style= "getImgDirection();" style="padding-top:5%">VERIFICATION</span>
        </div>     
     </div>

<!--    <div style="opacity=0;height:100px;">
    </div>
      -->
       <div class = "col" style = "height:150px;opacity=0;">
            </div>
      <div ng-style="getDirection()">

         <!--<h1  class="item" style="font-size:200% ;color:#941540;white-space: normal;padding-left: 20px;border:0;">
            <br>
             <strong translate>{{'VER_F_MSG1'}} </strong>
            <br>
            <br>

        <p class="padding" style="white-space: normal;" translate>
            {{'VER_F_MSG2'}} </p>
            <br>

        </h1>-->
          
        <Div class="text">
 
         <h3 translate >{{'VER_F_MSG1'}}</h3>
         <h5 class="padding" style="white-space: normal;" ng-style="getDirection()" translate> {{'VER_F_MSG2'}} </h5>
         </Div>
          
      </div>


      <label class="item item-input" ng-style="getDirection()">
      <input type="text" ng-model="vCode" placeholder="{{'REG_N_VERIFICATION_CODE' | translate}}" ng-required="true" style="font-family: GessLight;">
    </label>

      
    <div class="form-group" ng-style="getDirection()">
        <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">    
      <button ng-show="vCode.length >3 " class="btn btn-block btn-success"   ng-click="verify(vCode)" translate>
        {{'VER_B_DONE'}}
      </button>
        </div>
    </div>
          
      <div class="form-group" ng-style="getDirection()">
     <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
          <button ng-hide="!buttonEnabled ||vCode.length >3" id="singlebutton" name="singlebutton" class="btn btn-block btn-success"  
              ng-click="resendVCode();" translate>{{'RESUBSCRIBE'}}
      </button>
          
          </div>
    </div>
      
      
      <br><br>
      <div ng-show="!buttonEnabled" ng-style="getDirection()">
        <span class="padding " style="white-space: normal; border:0;" translate>
            {{'VER_F_MSG3'}}</span><span id="countdown"> </span> <span translate> {{'SECONDS'}}</span>

      </div>
       
    <!--<ion-input ng-model="settings.mobileNo">Mobile Number</ion-input>
    <!--<ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
    -->
  </ion-content>
</ion-view>
