/* Empty. Add your own CSS if you like */
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: $light;
}


/*aalatief*/

/*
.field--wrapper {
  position:relative;
  margin-bottom:20px;
}
label {
  position:absolute;
  top:-13px;
  left:0;
  font-size:11px;
  color:#aaa;
  transition: all 0.1s linear;
  opacity:0;
  font-weight:bold;
}
label.on {
  color:#4481C4;
}
label.show {
  top:-15px;
  opacity:1;
}
*/


/*body {
  padding:20px;
   the following line fixes a blink in chrome https://code.google.com/p/chromium/issues/detail?id=108025 
  -webkit-backface-visibility: hidden;
}*/

/*.item .item-content {
  background-color: transparent !important;
}*/


.classS { 
    background-color: #DCF8C6;
}

.classP { 
    background-color: #ffe6e6;
}

.classNa { 
    background-color: #e6e6e6;
}

.item-select select
{
    right: 0;
    left: 0;
    direction: ltr;
    padding:auto 0;
    width: 100% ;
}
/*Footer*/
#footer {
  position : absolute;
  bottom : 0;
  height : 40px;
  margin-top : 40px;
  border-top:  1px solid;
}

/*Header Color*/
.theme-color {
background-color: #900C3F !important;
color: #ffffff;}


/*Back Button color*/
.back-button {
  color: #ffffff !important;
}


/*   .pane  {
        background-color: #464646!important;
    }*/